@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: 'Ubuntu ';
  --font-heading: 'Oswald';
  --header-height: 4.5rem;
  --ease: cubic-bezier(0.83, 0, 0.17, 1);
  --ease-elastic-smooth: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --ease-elastic-smoother: cubic-bezier(0.7, -0.4, 0.3, 1.4);
  --ease-elastic: cubic-bezier(0.7, -0.8, 0.3, 1.7);
  --header-bar-height: 0.25rem;
  --header-bar-width: 10rem;
  --header-bar-top: 95%;

  /* Transition */
  --transition-ease: 0.83, 0, 0.17, 1;
  --duration-animation-post: 1000;
  --translate-post: 40;

  /* Color */
  --white: #ffffff;
  --light: #f6f2ef;
  --light-rgb: 246, 242, 239;
  --primary: #b45309;
  --primary-light: #d97706;
  --primary-rgb: 180, 83, 9;
  --dark: #18181b;
  --dark-rgb: 24, 24, 27;
  --secondary: #082f49;
  --secondary-rgb: 8, 47, 73;
  --turquoise: #349098;
  --turquoise-rgb: 52, 144, 152;
  --purple-pale: #b06dcc;
  --purple-pale-rgb: 176, 109, 204;
  --sky-pale: #61bbf7;

  /* Tamaño fuente */

  --fs-100: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --fs-200: clamp(1rem, calc(0.93rem + 0.33vw), 1.105rem);
  --fs-300: clamp(1.105rem, calc(1.05rem + 0.63vw), 1.28rem);
  --fs-400: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
  --fs-500: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --fs-600: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
  --fs-700: clamp(3rem, calc(2rem + 5vw), 5.6rem);
}

@layer base {
  html {
    @apply overflow-x-hidden;
  }
  html,
  body {
    @apply bg-light;
  }
  body p {
    @apply leading-relaxed [text-wrap:pretty];
  }

  body p,
  body span,
  body main,
  body li {
    @apply font-body font-light text-dark [font-size:var(--fs-300)];
  }
  body li {
    @apply leading-relaxed my-4 lg:text-[22px];
  }

  body li:before {
    @apply leading-none [text-wrap:pretty];
  }

  body article p,
  .schedule p,
  .prices p {
    @apply my-4 leading-[1.8] lg:text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-headings font-light leading-[1.2] text-dark [text-wrap:balance] my-6;
  }

  h1 {
    @apply [font-size:var(--fs-600)];
  }
  h2 {
    @apply [font-size:var(--fs-500)];
  }
  h3 {
    @apply [font-size:var(--fs-400)];
  }
  h4 {
    @apply [font-size:var(--fs-300)];
  }
  h5 {
    @apply [font-size:var(--fs-200)];
  }

  ol {
    width: min(100%, 1280px);
    margin: 2rem auto;
    padding: 0;
    list-style-type: none;
    counter-reset: apples;
    li:before {
      content: counter(apples);
      counter-increment: apples;
      color: var(--primary);
      font-weight: bold;
      font-size: 45px;
      margin-right: 10px;
    }
  }
}

@layer utilities {
  .gradient-br-90 {
    background-image: linear-gradient(to bottom right, transparent 65%, #000);
  }
  .gradient-tl-90 {
    background-image: linear-gradient(to top left, transparent 65%, #000);
  }
}

@layer components {
  @media (width >= 1280px) {
    .grid-blog {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 35dvh);
      grid-template-areas:
        'top top top'
        'left center right'
        'left center right';

      [data-article='1'] {
        grid-area: top;
      }
      [data-article='2'] {
        grid-area: left;
      }
      [data-article='3'] {
        grid-area: center;
      }
      [data-article='4'] {
        grid-area: right;
      }
      [data-image='1'] {
        height: 100%;
        width: 50%;
      }
    }
  }
}

.is-type-video,
.aligncenter,
.video-center,
.center-video {
  @apply flex flex-col items-center justify-center my-12;
  iframe {
    @apply h-[450px] aspect-video w-full;
  }
}
